<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="human_safety_zone">
    <link name="human_safety_zone">
      <visual>
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
        <geometry>
          <box size="0.6 0.6 0.2"/>
        </geometry>
        <material name="safety_red">
          <color rgba="1.0 0.0 0.0 0.4"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
        <geometry>
          <box size="0.6 0.6 0.2"/>
        </geometry>
      </collision>
    </link>

    <joint name="joint_human_safety_zone" type="fixed">
      <parent link="base_link"/>
      <child link="human_safety_zone"/>
      <origin xyz="-0.55 0.4 0.0" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>